{% extends 'base.html' %}

{% block content %}
  <section class="section">
    <div id="index" class="container"><!-- React --></div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='dist/js/home.js') }}"></script>
{% endblock %}