<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Github fork +{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bulma.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/global.css') }}">
  <script defer src="{{ url_for('static', filename='assets/js/all.min.js') }}"></script>
</head>
<body>
<section class="hero is-light">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-12">
        <div class="container">
          <img src="{{ url_for('static', filename='assets/images/logo-azul2.png') }}" alt="Github Forks +" width="245" height="119">
          <h3 class="subtitle">
            Github Forks and <em>the dates of the last commit</em>
          </h3>
          <a href="https://gitlab.com/andresforejuelab/github_fork_analyzer" target="_blank" class="button is-primary">
                <span class="icon">
                  <i class="fab fa-gitlab"></i>
                </span>
            <span>Gitlab</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% block content %}{% endblock %}

<footer class="footer">
  <div class="footer-item">
    <img src="{{ url_for('static', filename='assets/images/logo-02.png') }}" alt="Blueleus">
  </div>
</footer>

{% block scripts %}{% endblock %}
</body>
</html>